*{  
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

html{
    height: max-content;
}
body{
    border-radius: 10px;
    padding: 20px;
    min-width: 350px;
    height: max-content;
    max-height: max-content;
    background-color: rgb(43, 43, 46);
}
.wrapper{
    height: max-content;
}
button{
    border: none;
    border-radius: 25px;
    background-color: dodgerblue;
    color: ghostwhite;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 1px;
    width: 10em;
    height: 46px;
    transition: all 0.1s ease-in-out;
}

#input-btn{
    box-shadow: rgba(30, 143, 255, 0.3) 0 0px 20px;
    margin: 0 10px 0 0;
}
#tab-btn{
    box-shadow: rgba(30, 143, 255, 0.3) 0 0px 20px;
    margin: 0 10px 0 10px;
}
#clear-btn{
    box-shadow: rgba(220, 20, 60, 0.3) 0 0px 20px;
    margin: 0  0 0 10px;
    background-color:crimson;
}

.btn{
    display: flex;
    justify-content: space-between      ;
}

input{
    color: ghostwhite;
    height: 40px;
    background-color: rgb(37, 37, 37);
    border:rgba(248, 248, 255, 0.503) solid 1px ;
    border-radius: 20px;
    width: 100%;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.150) 0 0px 20px;
    padding: 20px;
    font-size: medium;
}
input:focus{
    border:rgba(248, 248, 255, 0.800) solid 1px ;
    outline: none;
}

button:active{
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.250) 0 0px 20px;
}

.scroll{
    overflow: hidden;
    border-radius: 10px;
    margin-top: 40px;
    border-radius: 10px;
    line-height: 40px;
    max-width: 500px;
    max-height: 400px;
}


ul::-webkit-scrollbar {
    width: 5px; 
    
}

ul::-webkit-scrollbar-track {
    background:rgba(0, 0, 0, 0.250);
}

ul::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.500); 
    border-radius: 2px; 
}

ul{
    font-size: 1.2em;
    background-color: dodgerblue;
    box-shadow: rgba(0, 0, 0, 0.150) 0 0px 20px;
    padding: 20px;
    overflow-y: scroll;
    max-height: 410px;
}

li{
    color: rgb(0, 65, 129);
    font-size: 1.2em;
    margin-left: 20px;
}



a{
    font-size: 18px;
    color: ghostwhite;
}

a:hover {
    color: rgba(248, 248, 255, 0.800);
}